name: Publish Release on Modrinth

on:
  release:
    types: [published]

jobs:
  Modrinth:
    runs-on: ubuntu-latest
    steps:
    - name: Publish to Modrinth
      uses: cloudnode-pro/modrinth-publish@v2.1.7
      with:
        token: ${{ secrets.MODRINTH_VERSION_TOKEN }}
        project: mZSgK9Zg
        name: PlayerBiomes ${{ contains(github.event.release.name, 'hotfix') && 'HOTFIX ' || '' }}${{ github.event.release.tag_name }}
        version: ${{ github.event.release.tag_name }}
        changelog: ${{ github.event.release.body }}
        # The mod loaders that this version supports, separated by new line, or as JSON string array. In case of resource packs, use `minecraft`.
        loaders: '["bukkit", "paper", "purpur", "spigot"]'
        # A list of versions of Minecraft that this version supports, separated by new line, or as JSON string array. You can also use e.g. `1.20.x`, `1.21.x`, ….
        game-versions: |-
          ["1.21.x",
          "1.20.x",
          "1.19.x",
          "1.18.x",
          "1.17.x",
          "1.16.2",
          "1.16.3",
          "1.16.4",
          "1.16.5"]
        # A list of file paths to upload, separated by new line, or as JSON string array. There must be at least one file, unless the new version’s status is `draft`. The allowed file extensions are `.mrpack`, `.jar`, `.zip`, and `.litemod`.
        files: ${{ github.event.release.assets[0].url }}
        # The name (not path) from `files` to be set as the primary file.
        primary-file: PlayerBiomes.jar
        # A list of specific versions of projects that this version depends on, formatted as JSON array. See [Create Version - Modrinth API docs](https://docs.modrinth.com/api/operations/createversion/#request-body).
        dependencies: |-
          [{ "project_id": "lKEzGugV", "version_id": "sn9LYZkM", "dependency_type": "optional" }]
